## importing libraries:-

In [1]:
import numpy as np
import pandas as pd

## Gradient Descent:-

In [2]:
def calculate_cost(theta,x,y):
    m=len(y)
    prediction=x.dot(theta)
    cost=(1/2*m)*np.sum(np.square(prediction-y))
    return cost


def gradient_descent(X,y,theta,rate,iterations):
    m=len(y)
    for it in range(iterations):
        predictions=x.dot(theta)
        theta=theta-(1/m)*rate*(X.T.dot(predictions-y))
    final_cost=calculate_cost(theta,X,y)
    return theta,final_cost

## applying the gradient descent algorithm on data ( adding biases on my own )

In [3]:
data=pd.read_csv("real_estate_price_size_year_view.csv")
data.head()

        price     size  year         view
0  234314.144   643.09  2015  No sea view
1  228581.528   656.22  2009  No sea view
2  281626.336   487.29  2018     Sea view
3  401255.608  1504.75  2015  No sea view
4  458674.256  1275.46  2009     Sea view

In [4]:
data["view"]=data["view"].map({"No sea view":0,"Sea view":1})

In [5]:
data.head()

        price     size  year  view
0  234314.144   643.09  2015     0
1  228581.528   656.22  2009     0
2  281626.336   487.29  2018     1
3  401255.608  1504.75  2015     0
4  458674.256  1275.46  2009     1

In [6]:
rows=data.shape[0]
rows

100

In [7]:
data["ones"]=pd.DataFrame(np.ones((rows,1)))

In [14]:
x=np.array(data[["ones","size","year","view"]])
y=np.array(data["price"])

In [15]:
initial_parameters=np.random.randn(x.shape[1],1)

In [17]:
print(x.shape,y.shape,initial_parameters.shape)

(100, 4) (100,) (4, 1)

In [18]:
initial_parameters.shape

(4, 1)

In [19]:
final_parameters,cost=gradient_descent(x,y,initial_parameters,0.0000001,101)

In [20]:
final_parameters

array([[ -0.68312277,  -0.6844327 ,  -0.67231169,  -0.64497579,
         -0.63185533,  -0.68066951,  -0.6760814 ,  -0.69651264,
         -0.6610064 ,  -0.68670654,  -0.67278498,  -0.62360521,
         -0.68742827,  -0.64097754,  -0.6351646 ,  -0.63607642,
         -0.67991834,  -0.68315384,  -0.68514782,  -0.66824644,
         -0.6753968 ,  -0.69740866,  -0.64239051,  -0.69474332,
         -0.69826509,  -0.65382714,  -0.67455859,  -0.64369691,
         -0.66862496,  -0.652349  ,  -0.66773944,  -0.68514774,
         -0.68919458,  -0.69290901,  -0.67148979,  -0.66765599,
         -0.67514525,  -0.68331036,  -0.6697207 ,  -0.68051026,
         -0.66581772,  -0.68697215,  -0.6710038 ,  -0.64190764,
         -0.66970258,  -0.66809916,  -0.68998047,  -0.69055743,
         -0.67774964,  -0.67669964,  -0.68510117,  -0.6468463 ,
         -0.67756487,  -0.67507735,  -0.67825218,  -0.62225655,
         -0.66346416,  -0.64634991,  -0.66110333,  -0.67923397,
         -0.67926682,  -0.67649668,  -0.6544773 ,  -0.6601295 ,
         -0.66756631,  -0.667065  ,  -0.65548803,  -0.6745738 ,
         -0.66935104,  -0.63280625,  -0.67339725,  -0.69517106,
         -0.66835851,  -0.68828471,  -0.68449406,  -0.67127536,
         -0.64934834,  -0.65306297,  -0.67918199,  -0.65829013,
         -0.69546363,  -0.64328891,  -0.69304105,  -0.67207011,
         -0.66729123,  -0.65068883,  -0.7014105 ,  -0.66188597,
         -0.68824348,  -0.65565692,  -0.67927782,  -0.65941216,
         -0.66853118,  -0.67572603,  -0.67668722,  -0.67897626,
         -0.66570875,  -0.64900206,  -0.68521791,  -0.67384347],
       [ 20.18629075,  19.6961934 ,  24.23114219,  34.4585828 ,
         39.3674634 ,  21.104153  ,  22.82074433,  15.17661278,
         28.46089882,  18.84546145,  24.0540661 ,  42.45415813,
         18.57543212,  35.9544844 ,  38.12933557,  37.78818581,
         21.38519517,  20.1746651 ,  19.42863994,  25.7521137 ,
         23.07688211,  14.84137502,  35.42583664,  15.83858416,
         14.52095008,  31.14694354,  23.39048951,  34.93705998,
         25.61049181,  31.6999718 ,  25.94180101,  19.42866866,
         17.91458514,  16.52486969,  24.53864609,  25.97302229,
         23.17099599,  20.11610664,  25.20053472,  21.16373464,
         26.66079403,  18.746086  ,  24.72047422,  35.60649796,
         25.20731259,  25.80721415,  17.62055217,  17.40468902,
         22.19659154,  22.58943845,  19.44609209,  33.75875179,
         22.26572033,  23.19639898,  22.008571  ,  42.95874822,
         27.54135338,  33.94447086,  28.42463141,  21.6412454 ,
         21.62895428,  22.66537247,  30.90369261,  28.78897981,
         26.00657513,  26.19413675,  30.52553746,  23.38479911,
         25.3388388 ,  39.01168548,  23.82499124,  15.67854918,
         25.7101812 ,  18.25500445,  19.67323824,  24.61887458,
         32.82263922,  31.43284991,  21.66069057,  29.47716123,
         15.56908763,  35.08970838,  16.47546854,  24.32152586,
         26.10949409,  32.32110909,  13.34413016,  28.13181723,
         18.27043077,  30.46235077,  21.62483626,  29.05736699,
         25.64558147,  22.95370136,  22.59408515,  21.73766486,
         26.70156383,  32.95219637,  19.40241622,  23.65804297],
       [107.70979509, 105.07300288, 129.47166075, 184.49671956,
        210.90718274, 112.6480222 , 121.88352328,  80.75702798,
        152.22834212, 100.4959462 , 128.51896664, 227.51403145,
         99.0431507 , 192.54487908, 204.24588208, 202.41044874,
        114.16006832, 107.64724745, 103.63352791, 137.65469987,
        123.26158029,  78.95340201, 189.70068028,  84.31852646,
         77.2294711 , 166.67963784, 124.94883189, 187.07099358,
        136.89275432, 169.6550071 , 138.67524407, 103.63368245,
         95.48770165,  88.01083846, 131.12607467, 138.84321893,
        123.76792614, 107.33219476, 134.68712791, 112.96857973,
        142.54352694,  99.96129237, 132.10433537, 190.6726634 ,
        134.72359379, 137.95114797,  93.90576321,  92.74438933,
        118.5254941 , 120.63906533, 103.72742295, 180.73153099,
        118.89741664, 123.90459775, 117.51391735, 230.22879661,
        147.28105925, 181.73072554, 152.03321838, 115.53765432,
        115.47152634, 121.04760094, 165.37091384, 153.99346365,
        139.02373792, 140.03284559, 163.33638636, 124.91821674,
        135.4312232 , 208.99304786, 127.2865119 ,  83.45751589,
        137.42909713,  97.31920507, 104.94950093, 131.55771515,
        175.69511462, 168.21785402, 115.64227203, 157.6959758 ,
         82.86859745, 187.89226333,  87.74505335, 129.95793749,
        139.5774563 , 172.99681245,  70.89801555, 150.45783718,
         97.40220082, 162.99643311, 115.44937083, 155.43742418,
        137.08154161, 122.59885064, 120.66406525, 116.05640446,
        142.76287418, 176.39215016, 103.49244064, 126.38830686],
       [ -0.35413874,  -0.35473045,  -0.34925531,  -0.33690751,
         -0.33098092,  -0.35303059,  -0.35095811,  -0.36018703,
         -0.34414864,  -0.35575756,  -0.3494691 ,  -0.32725429,
         -0.35608357,  -0.33510148,  -0.33247574,  -0.33288762,
         -0.35269128,  -0.35415278,  -0.35505347,  -0.34741901,
         -0.35064887,  -0.36059177,  -0.33573973,  -0.35938782,
         -0.36097863,  -0.34090572,  -0.35027025,  -0.33632984,
         -0.34759   ,  -0.34023804,  -0.34719   ,  -0.35505344,
         -0.35688142,  -0.35855925,  -0.34888406,  -0.34715231,
         -0.35053525,  -0.35422348,  -0.34808495,  -0.35295866,
         -0.34632194,  -0.35587753,  -0.34866453,  -0.33552161,
         -0.34807676,  -0.34735249,  -0.35723641,  -0.35749703,
         -0.35171167,  -0.35123738,  -0.3550324 ,  -0.33775243,
         -0.35162821,  -0.35050458,  -0.35193867,  -0.32664509,
         -0.34525883,  -0.33752821,  -0.34419243,  -0.35238215,
         -0.35239699,  -0.3511457 ,  -0.34119941,  -0.34375254,
         -0.3471118 ,  -0.34688535,  -0.34165596,  -0.35027712,
         -0.34791797,  -0.33141046,  -0.34974567,  -0.35958103,
         -0.34746964,  -0.35647043,  -0.35475816,  -0.3487872 ,
         -0.33888262,  -0.34056054,  -0.35235867,  -0.34292169,
         -0.35971319,  -0.33614554,  -0.3586189 ,  -0.34914619,
         -0.34698754,  -0.33948813,  -0.36239943,  -0.34454595,
         -0.3564518 ,  -0.34173225,  -0.35240196,  -0.34342851,
         -0.34754763,  -0.35079759,  -0.35123177,  -0.35226574,
         -0.34627272,  -0.33872621,  -0.35508513,  -0.34994723]])